.userlist{
  margin-top: 100px;
  padding: 0 5%;

  .btn__add{
    background-color: #20c997;
  }
  .btn__delete{
    background-color: #dc3545;
  }
  .btn__edit{
    background-color: #ffc107;
  }

  @media screen and (max-width: 576px) {

    .search{
      width: 100% !important;
      margin: 0 !important;
      margin-bottom: 1rem !important;
      input{
        width: 100%;
      }
    }
  }
}
