.signin{
  width: 50%;
  border: 1px solid;
  padding: 2%;
  margin-top: 8%;
  border-radius: 5px;

  .signin__input{
    width:60%
  }

  @media screen and (max-width: 576px) {
    margin-top: 20%;
    width: 100%;
    border: none
  }
}
