.create__form{
  border: 1px solid;
  border-radius: 5px;
  padding: 2%;
  .chip{
    width: 51%;
    margin: auto;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 576px) {

    .create__form__input{
      width: 100% !important;

      .form__input{
        width: 100% !important;
      }
    }
  }
}
